@model List<CheeseMVC.Models.Cheese>

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a> <br /><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>

@if (Model.Count == 0)
{
    <p>No cheeses yet</p>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Id</th>
        <th>Type</th>
        <th>Rating</th>
    </tr>
    @foreach (var cheese in Model)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <td>@cheese.ID</td>
            <td>@cheese.Type</td>
            <td>@cheese.Rating</td>
            <td><a asp-controller="Cheese" asp-action="Edit" asp-route-id="@cheese.ID">edit</a></td>
        </tr>

    }
    
</table>